<div class="columns">
  <div class="column is-half">
    <h2>Directions</h2>
    <%= f.input_field :step, class: 'input is-large', placeholder: 'Direction' %>
    <%= link_to_remove_association 'Remove', f %>
  </div>
</div>