<div class="columns">
  <div class="column is-half">
    <h2>Ingredients</h2>
    <%= f.input_field :name, class: 'input is-large', placeholder: 'Ingredient' %>
    <%= link_to_remove_association 'Remove', f %>
  </div>
</div>